{% extends "base.html" %}

{% block title %}{{ super() }} - Best Teams{% endblock %}

{% block content %}
<h1 style="color:orange">Best Performing Teams</h1>
<p>There are many high-performing professional Rocket League Teams, yet some of them are beyond just "good". Some have received over a 100,000$USD, and world-wide fame in the whole gaming community. Here are the top 15 Best Performing Teams in the Rocket League Championships: </p>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Team</th>
        <th>Prize money accumulated</th>
        <th>Tournaments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>NRG Sports</td>
          <td>$666,434.36</td>
          <td>49 Tournaments</td>
      </tr>
      <tr>
          <td>Cloud9</td>
          <td>$555,893.75	</td>
          <td>26 Tournaments</td>
      </tr>
      <tr>
          <td>Team Vitality</td>
          <td>$536,935.36</td>
          <td>26 Tournaments</td>
      </tr>
    <tr>
          <td>Team Dignitas</td>
          <td>$459,510.56</td>
          <td>19 Tournaments</td>
    </tr>
    <tr>
          <td>G2 Esports</td>
          <td>$430,241.41</td>
          <td>49 Tournaments</td>
      </tr>
        <tr>
          <td>FlipSid3 Tactics</td>
          <td>$281,702.27</td>
          <td>100 Tournaments</td>
      </tr>
    <tr>
          <td>Paris Saint-Germain Esports</td>
          <td>$226,399.38	</td>
          <td>21 Tournaments</td>
      </tr>
    <tr>
          <td>Gale Force eSports</td>
          <td>$212,716.14</td>
          <td>28 Tournaments</td>
      </tr>
    <tr>
          <td>We Dem Girlz</td>
          <td>$179,834.71</td>
          <td>37 Tournaments</td>
      </tr>
    <tr>
          <td>Rogue</td>
          <td>$153,543.75</td>
          <td>14 Tournaments</td>
      </tr>
    </tbody>
  </table>
    <blockquote><i>- Statistics taken from <a href="https://www.esportsearnings.com/games/409-rocket-league/top-teams">esportsearnings.com</a></i></blockquote>
{% endblock %}