{% extends "base.html" %}

{% block title %}{{ super() }} - Instructions{% endblock %}
{% block content %}

            <h1 style="color:orange">Instructions</h1>
            <p>The basics of <i style="color:darkblue">Rocket League</i> are really easy to learn and even a casual
                player can understand everything after merely a few minutes of playtime. Reaching a high skill level,
                useful in matches with other professional players and high difficulty bots, is something entirely
                different and requires a lot of hours spent on perfecting the basic moves and learning the more advanced
                maneuvers (they're covered later in the guide). Below is a list of things you should do after launching
                the game for the first time and during your first hours spent in <i style="color:darkblue">Rocket
                    League</i>. Following these advice will help you out a lot and won't drive you away from the game
                after a streak of lost matches.
            </p>
            <p class="text-center">
                <img src="https://steamcdn-a.akamaihd.net/steam/apps/252950/header.jpg?t=1582933483"
                      class="img-fluid" alt="Cars">
            </p>
            <br/>
            <p>
                Your natural instinct may be telling you to go ahead and dive in the matches immediately after you've
                installed the game, but you shouldn't be doing that until you've familiarized yourself with all the
                basics and practised all of the basic moves. Your first order of business should be choosing the <i
                    style="color:orangered">Training</i> option from the main menu. Pick the <i
                    style="color:orangered">Tutorial</i>. There are two
                different training sessions in this mode. The <i
                    style="color:orangered">Basic</i> tutorial offers info on how to control the car, how
                to perform jumps and dodges, how to use the boost and how to rely on the Ball Cam. The <i
                    style="color:orangered">Advanced</i> tutorial
                will introduce you to a little more complex things like doing double jumps, performing side rolls and
                front flips and rocket flying using the car's boost. Don't worry that you won't be given a chance to
                fully test some of these moves, because that's what other lessons are for.
            </p>
            <p class="text-center">
                <img src="https://steamcdn-a.akamaihd.net/steam/apps/252950/header_alt_assets_10.jpg?t=1580862634"
                     class="img-fluid" alt="Cars">
            </p>
            </br>
            <p>Once you've completed both tutorials you should take interest in three other training sessions
                found in the lower part of the screen. The <i
                        style="color:orangered">Goalie</i> training will allow you to become a goalkeeper and in
                this mode you score points by successfully defending the goal. The <i
                        style="color:orangered">Striker</i> training is a direct opposite
                of the goalie, because you're an attacker and you must score goals to earn points. The <i
                        style="color:orangered">Aerial</i> training
                is the most complex and difficult one, because it focuses on performing various aerial moves (like
                double jumps followed by a rocket flight). Try scoring a maximum number of points in the basic versions
                of all of those three trainings and at least a few points on their Pro levels. The highest difficulty
                setting for the training sessions is All-Star and you should leave it for later, because all of the
                lessons in it are very hard. They're reserved for skilled players wanting to improve their skills even
                more in performing the most difficult moves (you can go back to it once you feel like you've became a
                pro player yourself).
            </p>
            <!--<a href="#top">Top</a>-->

{% endblock %}
