{% extends "base.html" %}

{% block title %}{{ super() }} - Moves{% endblock %}

{% block content %}
            <h1 style="color:orange">Moves</h1>
            <dl>
                <dt>Jumping</dt>
                <dd>Preform by pressing the button for jumping in the controls panel.
                    Has in-game tutorial.
                </dd>
                <dt>Turning</dt>
                <dd>Players turn by pressing the respective buttons or analog stick assigned in the controls panel. Has
                    in
                    game tutorial.
                </dd>
                <dt>Driving</dt>
                <dd>Using the drive key assigned in the control panel. Has in game tutorial.
                </dd>
                <dt>Double Jumping</dt>
                <dd>Pressing the button for jump in the control panel. Has in-game tutorial.
                </dd>
                <dt>Flipping</dt>
                <dd>Pressing the action for jump in the air, while turning the car. Has in-game tutorial.
                </dd>
                <dt>Braking</dt>
                <dd>Slows the car down by letting go of accelerate and pressing reverse.</dd>

                </br>
                <dt>Boosting</dt>
                <dd>Faster than driving, boosting uses boost to increase the speed of the car until it becomes
                    supersonic
                    (maximum speed that any car can keep). Has in-game tutorial.
                </dd>
                <dt>50/50’s + Kickoffs</dt>
                <dd>When players flip or jump into the ball at the same time. Advanced versions of this have players
                    observe
                    each other to determine what angle the ball will go after the confrontation. Kickoffs are 50/50’s at
                    the
                    beginning of a match or after a goal has been scored.
                </dd>
                <dt>Powershot + Powerclears</dt>
                <dd>When the ball is rolling towards a player and the player boosts and flips into it resulting, causing
                    a
                    powershot.
                </dd>
                <dt>Bounce Powershots</dt>
                <dd>While the ball is boucing, powershot the ball after it bounces back off of the ground.</dd>
                <dt>Powerslide Turning</dt>
                <dd>Holding drift while turning will produce a powerslide and allow for sharper turns and faster play
                    speeds.
                </dd>
                <dt>Redirects</dt>
                <dd>Hitting the ball in a way to cause the direction of the ball to change for a pass, clear, or goal.
                </dd>
                </br>
                <p class="text-center">
                <img src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/WIEVI7WMMRHRLAYLGBIWSONOIQ.jpg&w=767"
                     class="img-fluid" alt="Car n ball">
                </p>
            </dl>
{% endblock %}