{% extends "base.html" %}

{% block title %}{{ super() }} - Moves{% endblock %}

{% block content %}
  <h2>Personnal Progress</h2>
  <p>Personnal Progress table</p>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Division</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bronze 1</td>
        <td>I</td>
        <td>December</td>
      </tr>
      <tr>
        <td>Bronze 1</td>
        <td>II</td>
        <td>December</td>
      </tr>
      <tr>
        <td>Bronze 1</td>
        <td>III</td>
        <td>January 25 2020</td>
      </tr>
    <tr>
        <td>Bronze 1</td>
        <td>IV</td>
        <td>~January 28 2020</td>
      </tr>
    <tr>
        <td>Bronze 2</td>
        <td>I</td>
        <td>~January 31 2020</td>
      </tr>
    <tr>
        <td>Bronze 2</td>
        <td>II</td>
        <td>~February 2 2020</td>
      </tr>
    <tr>
        <td>Bronze 2</td>
        <td>III</td>
        <td>~February 8 2020</td>
      </tr>
    <tr>
        <td>Bronze 2</td>
        <td>IV</td>
        <td>~February 9 2020</td>
      </tr>
    <tr>
        <td>Bronze 3</td>
        <td>I</td>
        <td>~February 12 2020</td>
      </tr>
    <tr>
        <td>Bronze 3</td>
        <td>II</td>
        <td>~February 15 2020</td>
      </tr>
    <tr>
        <td>Bronze 3</td>
        <td>III</td>
        <td>~February 16 2020</td>
      </tr>
    <tr>
        <td>Bronze 3</td>
        <td>IV</td>
        <td>~February 18 2020</td>
      </tr>
    <tr>
        <td>Silver 1</td>
        <td>I</td>
        <td>~February 25 2020</td>
      </tr>
    <tr>
        <td>Bronze 2</td>
        <td>II</td>
        <td>~February/March 2020</td>
      </tr>
    </tbody>
  </table>
{% endblock %}