{% extends "base.html" %}

{% block title %}{{ super() }} - RLCS{% endblock %}

{% block content %}
<h1 style="color:orange">Rocket League Championships</h1>
<p>The <b>Rocket League Championship Series (RLCS)</b> is a biannual Rocket League video game tournament series produced by Psyonix, the game's developer. It consists of qualification rounds in North America, South America, Europe, and Oceania, and culminates in a twelve-team playoff bracket with four teams from North America and Europe, and two teams from Oceania and South America. The qualification rounds are played as an online round-robin tournament and the finals are played in different cities, the most recent being in Madrid at the end of season 8 in 2019.</p>
 <blockquote><i>- Taken from the RLCS page on Wikipedia</i></blockquote>
    <p> As for the prizes, the team that that is ranked First place will be awarded a prize of 70,000$USD, Second place will receive 40,000$USD and Third Place's prize is of 16,500$USD per team (two teams can be considered as Third place). </p>

{% endblock %}